a{
  text-decoration: none;
  color: initial;
  .card {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 20px;
    background-color: #e5f5ff;
    border-radius: 5px;
    cursor: pointer;
    box-shadow: 0 4px 4px 0 rgba(88, 73, 73, 0.2);
  
    img {
      width: 100%;
      max-height: 200px;
      object-fit: cover;
      margin-bottom: 10px;
    }
  
    h3 {
      font-size: 20px;
      margin-bottom: 10px;
    }
  
    p {
      font-size: 16px;
      text-align: center;
    }
  }
  
}